{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <table id="" class="display table table-hover">
                <thead>
                <tr>
                    <th>Rating</th>
                    <th>Title</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for comment in user.comments %}
                    <tr>
                        <td>{{ comment.rating }}</td>
                        <td>{{ comment.article.title }}</td>
                        <td>
                            <a class="btn btn-success btn-sm" href="{{ path('comment_show', {'id': comment.id}) }}">See</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
        {#{% if user.comments|length > 0 %}#}
            {#<table id="table" class="display">#}
            {#<thead>#}
                {#<th>Rating</th>#}
                {#<th>Article title</th>#}
                {#<th>Actions</th>#}
            {#</thead>#}
                {#{% for comment in user.comments %}#}
                {#<tbody>#}
                    {#<tr>#}
                        {#<td>{{ comment.rating }}</td>#}
                        {#<td>{{ comment.article.title }}</td>#}
                        {#<td><a class="btn btn-success btn-sm" href="{{ path('comment_show', {'id': comment.id}) }}">See</a></td>#}
                    {#</tr>#}
                {#</tbody>#}
                {#{% endfor %}#}
            {#</table>#}
        {#{% endif %}#}

{% endblock %}
