{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body  %}

    <div class="container content">
        <div class="row profile">
            <div class="col-md-3" style="float:left;">
                {{ include('profile/profile_sidebar.html.twig') }}
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('profile_account') }}">{{ 'profile.data_user'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#content2">{{ 'profile.password'|trans }}</a>
                            </li>
                        </ul>
                        {% set flashbag_notices = app.flashes('notice') %}
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane container active" id="content2">
                                <div class="profile-content">
                                    {{ form_start(formPassword) }}
                                    {{ form_widget(formPassword) }}
                                    <button class="btn btn-primary" type="submit" >{{ 'btn.update'|trans }}</button>
                                    {{ form_end(formPassword) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}