
<div class="profile-sidebar position-fixed">
    <div class="profile-userpic">
        <img src="{{ app.user.avatar }}" class="img-responsive" alt="">
    </div>
    <div class="profile-usertitle">
        <div class="profile-usertitle-name">
            {{ app.user.nom }} {{ app.user.prenom }}
        </div>
        <div class="profile-usertitle-job">
            {{ app.user.email}}
        </div>
    </div>
    <div class="profile-usermenu sidebar-sticky">
        <ul class="nav flex-column">
            <li {% if app.request.get('_route') == 'profile_article' %} class="active"{% else %} class="nav-item"{% endif %}>
                <a href="{{ path('profile_article') }}" class="nav-link">
                    <i class="fa fa-home"></i>{{ 'profile.overview'|trans }} </a>
            </li>
            <li {% if app.request.get('_route') == 'profile_account' %} class="active"{% else %} class="nav-item"{% endif %}>
                <a class="nav-link" href="{{ path('profile_account', {'id':user.id}) }}">
                    <i class="fa fa-user"></i>{{ 'profile.account_settings'|trans }}</a>
            </li>
        </ul>
    </div>
</div>