{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <!--our content goes here-->
    <div class="row">
        <div class="col-lg-3 col-md-0 row-sm">
            {{ include('profile/profile_sidebar.html.twig') }}
        </div>
        <div class="col-lg-9 col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="profile-content">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('profile_product') }}">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#menu1">Review</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane container active" id="menu1">
                                {% if user.reviews|length > 0 %}
                                <table id="" class="display">
                                <thead>
                                <th>Rating</th>
                                <th>Product title</th>
                                <th>Actions</th>
                                </thead>
                                <tbody>
                                {% for review in user.reviews %}
                                <tr>
                                <td>{{ review.rating }}</td>
                                <td>{{ review.product.title }}</td>
                                <td><a class="btn btn-success btn-sm" href="{{ path('review_show', {'id': review.id}) }}">See</a></td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <td> Aucune donnée </td>
                                </tbody>
                                </table>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
