{% extends 'base.html.twig' %}


{% block body %}
<div class="row justify-content-center my-3">
    {% for article in articles %}
        <div class="col-sm" style="padding-top: 10px">
            <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <small>{{ article.createdAt|date('d/m/Y') }}</small>
                <span class="badge badge-pill badge-success">{{ article.tag.name }}</span>
                <p>{{ article.description|raw }}</p>
                <a href="{{ path('article_show', {'slug': article.slug, 'id': article.id} ) }}" class="btn btn-primary">{{ 'btn.show'|trans }}</a>
                <a href="{{ path('article_like', {'id': article.id} ) }}" class="btn js-like">
                    {%  if app.user and article.isLikedByUser(app.user) %}
                        <i class="fas fa-thumbs-up"></i>
                    {% else %}
                        <i class="far fa-thumbs-up"></i>
                    {% endif %}

                    <span class="js-likes">{{ article.articleLikes | length }}</span>
                    <span class="js-label">#{{ 'btn.like'|trans }}</span>
                </a>
            </div>
        </div>
        </div>
    {% endfor %}
</div>
<div class="row justify-content-center my-3">
    <ul class="pagination">
        <li class="page-item {% if page == 1 %}disabled {% endif %}">
            <a class="page-link" href="{{ path('home', {'page' : page - 1}) }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
            {% for i in 1..pages %}
            <li class="page-item {% if page == i %} active {% endif %}">
                <a class="page-link" href="{{ path('home', {'page' : i}) }}">{{ i }}</a>
            </li>
            {% endfor %}
        <li class="page-item {% if page == pages %}disabled {% endif %}">
            <a class="page-link" href="{{ path('home', {'page' : page + 1}) }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</div>

{% endblock %}

