{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}
{% block body %}
    <div class="">
        {% for message in app.flashes('success') %}
            <div class="alert alert-notice">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-notice">
                {{ message }}
            </div>
        {% endfor %}

        <div class="">
            {{ form_start(formP) }}
            {{ form_label(formP.picture) }}
            {{ form_widget(formP.picture, {'attr' : {'' : ''}}) }}
            {{ form_errors(formP.picture) }}
            {{ form_end(formP) }}
        </div>
    </div>
{% endblock %}
