{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}
{% block body %}
    <div class="card">
        {% for message in app.flashes('success') %}
            <div class="alert alert-notice">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-notice">
                {{ message }}
            </div>
        {% endfor %}
        <div class="card-header">
            {{ form_start(formP) }}
            {{ form_widget(formP.picture) }}
            {{ form_end(formP) }}
        </div>
    </div>
{% endblock %}
